<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.cordova.plugins.cookiemaster"
      version="1.0.0">
    <name>CookieMaster</name>
    <description>This plugin enables the management of cookies in WebViews on iOS and Android as those platforms restrict the use of "document.cookie".</description>
    <license>MIT</license>

    <keywords>cordova,phonegap,cookie,cookies,cookie-manager,cookie-plugin</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines> 
 
    <js-module src="www/cookieMaster.js" name="cookieMaster">
        <clobbers target="cookieMaster" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CookieMaster">
                <param name="ios-package" value="CDVCookieMaster"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVCookieMaster.h" />
        <source-file src="src/ios/CDVCookieMaster.m" />                      
    </platform>
    
    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CookieMaster">
                <param name="android-package" value="com.cordova.plugins.cookiemaster.CookieMaster"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/com/cordova/plugins/cookiemaster/CookieMaster.java" target-dir="src/com/cordova/plugins/cookiemaster" />      
    </platform>          
</plugin>
